html {
  font-family: "Playfair Display", sans-serif;
  display: grid;
  margin: 6rem auto;
  padding: 1rem;
  max-width: fit-content;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 160px;
}

h2 {
  font-family: "Lato", serif;
}
